body {
	background-color: #FFFCF5;
}

h1 {
	font-size: 50px;
}

h2 {
	font-size: 30px;
}

button {
	border-radius: 12px;
	padding: 5px 15px;
	text-align: center;
	font-size: 30px;
	margin: 4px 2px;
	cursor: pointer;
}

.buttonDelete {
	background-color: #FF493E;
}

.ButtonEntrar {
	background-color: #0D0D0D;
	color: #FFFCF5;
	width: 400px;
	height: 60px;
}

.ButtonCriarConta {
	background-color: #FFFCF5;
	color: #0D0D0D;
	width: 280px;
	height: 60px;
}

.ButtonLogin {
	background-color: #FFFCF5;
	color: #0D0D0D;
}