body {
	background-color: #FFFFF0;
}

h1 {
	font-size: 35px;
	text-align: center;  
}

h2 {
	font-size: 25px;
}

.buttonDelete {
	background-color: #FF493E;
}

.ButtonEntrar {
	background-color: #0D0D0D;
	color: #FFFCF5;
	width: 350px;
	height: 50px;
	border-radius: 12px;
}

.ButtonCriarConta {
	background-color: #FFFCF5;
	color: #0D0D0D;
	width: 300px;
	height: 50px;
	border-radius: 12px;
}

.ButtonLogin {
	background-color: #FFFCF5;
	color: #0D0D0D;
}
* {
  box-sizing: border-box;
}

#regForm {
  background-color: #FFFCF5;
  font-family: Raleway;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  border: 1px solid #aaaaaa;
}

input.invalid {
  background-color: #D92B2B;
}

.tab {
  display: none;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #70A970;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.75;
}

.step.active {
  opacity: 1;
}

.step.finish {
  background-color: #04AA6D;
}
.recuperarSenhaEmail{
    display: block;
    width: 600px;
    height: 70px;
    text-align: left;
    border-radius: 12px;  
    font-size: 40px;
    margin: 5px auto;
}  

#RecuperarSenha{
    display: block;
    text-align: center;
    font-size: 500%;
    margin: auto;
    margin-bottom: 100px;
}

#Recuperar{
    display: block;
    background-color: #0D0D0D;
    color: #FFFCF5;
    width: 300px;
    height: 70px;
    font-size: 40px;
    margin: 100px auto;
}