  * {
	 margin: 0;
	 padding: 0;
  }
	
  body {
	  background-color: #E8EDDE;
  }
  
  #regForm {
	  background-color: #EEF2E7;
	  border-radius: 10px;
	  width: 35vw;
	  height: 80vh;
	  align-items: center;
  }
  
  input {
    width: 22vw;
    height: 5vh;
    padding: 0.5vh;
    font-size: 16px;
    border: none;
    border-radius: 5px;
  }
  
  input.invalid {
    background-color: #FF7A70;
  }
  
  #telefone {
	 width: 10vw; 
  }
  
  #nascimento {
	  width: 10vw;
  }
  
  .tab {
    display: none;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  #nextBtn{
	border: none;
	border-radius: 5px;
    color: #FFFFFF;
    background-color: #50806B;
    font-size: 20px;
    display: inline;
    float: right;
    height: 5vh;
    width: 22vw;
  }
  
  #prevBtn{
	border: none;
	border-radius: 5px;
    color: #FFFFFF;
    background-color: #50806B;
    font-size: 20px;
    display: inline;
    float: left;
    height: 5vh;
    width: 22vw;
  }
  
  .step {
    height: 15px;
    width: 15px;
    margin: 20px 5px;
    background-color: #439E6F;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.75;
  }
  
  .step.active {
    opacity: 1;
  }
  
  .step.finish {
    background-color: #439E6F;
  }