 * {
 	padding: 0;
 	margin: 0;
 	box-sizing: border-box;
 	font-family: "Poppins", sans-serif;
 }

 body {
 	background-color: #E8EDDE;
 	min-height: 100vh;
 }
 
 .container-cadastro {
	 display: flex;
	 background-color: #EEF2E7;
	 padding: 1vw;
	 align-items: center;
	 width: 35vw;
	 height: 70vh;
 }