* {
	padding: 0;
 	margin: 0;
 	box-sizing: border-box;
 	font-family: "Poppins", sans-serif;
}

body {
	background-color: #FFFFFF;
	min-height: 100vh;
}

.container-head {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
	background-color: #50806B;
	height: 5vh;
}

.item-head {
	margin: 0 1vw 0 1vw;
}

#back svg{
	width: 2vw;
	height: 2vh;
}

.container-form {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
}

.container-inputs input{
	width: 18vw;
	height: 5vh;
	border: 0;
	border-radius: 5px;
	background-color: #F4F2F0;
	margin: 1vw;
	padding: 1vw;
}