  * {
  	padding: 0;
  	margin: 0;
  }
  
  body {
  height: 100vh;
  }
  
  h3 {
   text-align: center;
  }
  
  nav {
  	margin: 0 0.5vw 0 0.5vw;
  	padding: 1vh;
  	height: 5vh;
  	border-bottom: solid 1px;
  	border-left: solid 1px; 
  	border-right: solid 1px; 
  	border-radius: 0px 0px 10px 10px;
  	background-color: #439E6F;
  }
  
  .flex-container {
  	display: flex;
  	flex-flow: row nowrap;
  	justify-content: space-evenly;
  	align-items: center;
  }
  
  
  .box .flex-container {
  	display: flex;
  	flex-flow: row nowrap;
  	justify-content: space-evenly;
  	align-items: center;
  	height: 85vh;
  }

  .box .flex-item {
  	background-color: #FFFFF0;
  	border: solid 1px;
  	border-radius: 10px;
  	padding: 1vw;
  	height: 75vh;
  	width: 25vw;
  }
  
  .conquista-box {
  	padding: 1vw;
  	border: solid 1px;
  }
  
  .image-conquista-box {
  	padding: 0.5vw;
  	border: solid 1px;
  }