nav {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
}

.container-menu {
	display: flex;
	flex-flow: row nowrap;
	align-items: baseline;
	justify-content: flex-end;
	background-color: #FFFFFF;
}

.item-menu {
	display: flex;
	margin: 0vh 1vw 0vh 1vw;
}

.item-menu svg {
	width: 2vw;
	height: 2vh;
}

.container-logo {
	display: flex;
	background-color: #FFFFFF;
}

.item-logo svg {
	margin: 1vh;
	width: 4vw;
	height: 4vh;
}