* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	background-color: #FFFFFF;
	min-height: 100vh;
}

.text-box {
	display: flex;
	background-color: #E8EDDE;
	height: 8vh;
}

.container-search-coletor {
	display: flex;
	flex-flow: row nowrap;
	height: 8vh;
	align-items: center;
	justify-content: center;
	margin: 1vw 0vw 1vw 0vw;
}

.item-search-coletor input {
	width: 45vw;
	height: 5vh;
	border-radius: 10px;
	border: 0;
	background-color: #F4F2F0;
	margin: 1vw;
	padding: 1vw;
}

.button-search-coletor input {
	width: 5vw;	
	height: 5vh;
	border-radius: 10px;
	border: 0;
	background-color: #F4F2F0;
	margin: 1vw;
	padding: 1vw;
	cursor: pointer;
	transition: background-color 0.5s ease;
}

.button-search-coletor input:hover {
	background-color: #50806B;
	color: #FFFFFF;
}

 form {
 	margin: 0;
 	padding: 0;
 }

.container-coletor {
	display: flex;
	flex-flow: row wrap;
	height: 100vh;
	justify-content: space-evenly;
	margin: 1vw;
}

.item-coletor {
	display: flex;
	flex-flow: column nowrap;
	width: 12vw;
	height: 25vh;
	background-color: #F4F2F0;
	border-radius: 10px;
	align-items: center;
}

.image-coletor {
	height: 60%;
	width: 100%;
	padding: 1vh;
}