* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #E8EDDE;
}

.tab {
    display: none;
    margin-left: 235px;
    margin-top: 40px;
}

.container-cadastro {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: #EEF2E7;
    width: 35vw;
    height: 70vh;
    margin-left: 650px;
    margin-top: 40px;
}

.item-cadastro input {
    display: block;
    width: 22vw;
    height: 5vh;
    border-radius: 5px;
    border: 0;
    padding: 0 0.5vw 0 0.5vw;
    margin-bottom: 10px;
}

.item-cadastro1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.item-cadastro1 .div1,
.item-cadastro1 .div2 {
    border: 0;
    display: flex;
    flex-grow: 1;
    flex-direction: column; 
    height: 5vh;
}

.item-cadastro1 .div2 {
    margin-left: -200px;
}

#nextBtn {
    display: flex;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #50806B;
    font-size: 20px;
    display: inline;
    float: left;
    height: 5vh;
    width: 15vw;
    padding: 5px 10px;
    margin-top: 10px;
    margin-left: 600px;
}

#prevBtn {
    display: flex;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #50806B;
    font-size: 20px;
    display: inline;
    float: left;
    height: 5vh;
    width: 15vw;
    padding: 5px 10px;
    margin-top: 10px;
    margin-left: 150px;
}

.step {
    height: 15px;
    width: 15px;
    margin: 20px 5px;
    background-color: #439E6F;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.75;
}

.step.active {
    opacity: 1;
}

.step.finish {
    background-color: #439E6F;
}

.item-CriarConta {
    font-size: 50px;
    text-align: center;
    display: block;
    margin-left: -200px;
}

.informacao-cadastro {
    padding-bottom: 5px;
    display: block;
    padding-top: 10px;
}

input {
    border: none;
}
