body {	
	background-color: #FFFFFF;
	justify-content: center;
	align-items: center;
}

.container {
	background-color: #E8EDDE;
	border-radius: 1vh;
	width: 75vw;
	height: 70vh;
	padding: 2vw;
	margin: 2vw;
}
