  footer {
      display: block;
      background-color: #50806B;
      color: #FFFFFF;
      padding: 25px;
      text-align: center;
  }
  
  footer a {
  	margin: 0 30px;
  	text-decoration: none;
  }