@charset "UTF-8";

body {
	background-color: #FFFFF0;
}
h2 {
	font-size: 30px;
}

.conquistas-container {
	background-color: #FFFCF5;
	width: 60vw;
	padding: 0vw 0.5vw 0vw 0.5vw;
	border-radius: 12px;
	border: 2px solid #0D0D0D;
}

.informacoes-box {
	display: flex;
	background-color: #FFFAF0;
	height: 1vw;
	width: 7.5vw;
	padding: 0.5vw;
	border-radius: 12px;
	border: 2px solid #0D0D0D;
	text-align: center;
	align-items: center;
}

.conquista-box {
	background-color: #FFFAF0;
	height: 4vw;
	width: 25vw;
	margin: 0.5vw 0vw 0.5vw 0vw;
	padding: 0.5vw;
	border-radius: 12px;
	border: 2px solid #0D0D0D;
}

.image-conquista-box {
	background-color: #FFFCF5;
	height: 2.5vw;
	width: 2vw;
	margin: 0.1vw 0.1vw 0.1vw 0.1vw;
	padding: 0.5vw;
	border-radius: 12px;
	border: 2px solid #0D0D0D;
}